page-policy {
	.m-0{
		margin-top: 9px;
        margin-bottom: 8px;
        margin-left: 0;
		margin-right:0px;
	}
.item > ion-icon.icon-left.icon-ios.item-icon {
    margin: 8px 8px 8px 0;
}

.button {
        width: 95px;
        border-color: darkgray;
        color: black;
    }
}
