page-umbrella-policy {
    .button {
        width: 130px;
        border-color: darkgray;
        color: black;
    }
    .vin-font {
        font-weight: 300;
        font-color: #666666;
        font-size: 14px;
        padding-bottom: 10px;
    }
	
	.item-ios ion-icon[item-right]{
        margin-bottom: 0px;
    }
}
