<ion-header>
    <ion-navbar>
        <ion-title>
            POLICY DETAILS
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content text-wrap>
    <div *ngIf="homePolicyData">
        <div *ngIf="homePolicyData.policyBalanceDisplayInd" class="due-area">
            <ion-list no-lines class="list-with-header mb-0">
                <div *ngIf="homePolicyData.billingDueMessage">
                    <ion-item>
                        <p class="danger">{{homePolicyData.billingDueMessage}}</p>
                    </ion-item>
                </div>
                <ion-item>
                    <p text-capitalize>Insured Address: {{homePolicyData.addr.addr1 | lowercase}} {{homePolicyData.addr.addr2 | lowercase}},
                        {{homePolicyData.addr.city | lowercase}} {{homePolicyData.addr.stateProvCd}} {{homePolicyData.addr.postalCode}}</p>
                    <p>Policy Period: {{homePolicyData.policyEffectiveDt}}-{{homePolicyData.policyExpirationDt}}</p>
                    <p>Policy Balance: {{homePolicyData.policyBalance}}</p>
                    <p *ngIf="homePolicyData.payMyBillDisplayInd">{{homePolicyData.amountDueLbl || "Amount Due :"}} {{homePolicyData.amountDue || "$0.00"}}</p>
                </ion-item>
                <ion-list-header>
                </ion-list-header>
            </ion-list>
        </div>
        <ion-list no-lines class="list-with-padding mb-0">
            <ion-item class="policy-title">
                <ion-icon item-right class="icon-right">
                    <img src="assets/icon/house.svg" item-right alt="Home Policies">
                </ion-icon>
                <h3 class="header" text-uppercase>{{homePolicyData.policyNickName}}</h3>
            </ion-item>
            <ion-item>
                <p>Policy No. {{homePolicyData.policySymbol}}-{{homePolicyData.policyNbr}} </p>
                <p>Policy Period: {{homePolicyData.policyEffectiveDt}}-{{homePolicyData.policyExpirationDt}}</p>
                <p>Account ID/Customer No. {{homePolicyData.accountId || homePolicyData.customerNbr}}</p>
            </ion-item>
            <ion-item class="insured">
                <p>Insured Name:<span *ngFor="let insuredName of homePolicyData.personNameList.personName" text-capitalize> {{insuredName.givenName | lowercase}} {{insuredName.surName | lowercase}}</span>                    </p>
                <p text-capitalize>Insured Address: {{homePolicyData.addr.addr1 | lowercase}} {{homePolicyData.addr.addr2 | lowercase}},{{homePolicyData.addr.city
                    | lowercase}} {{homePolicyData.addr.stateProvCd}} {{homePolicyData.addr.postalCode}}</p>
            </ion-item>
            <ion-item>
                <p>Policy Premium: {{homePolicyData.policyPremium || "$0.00"}}</p>
                <p>Dwelling Amount: {{homePolicyData.dwellingAmount || "$0.00"}}</p>
                <p>Deductible: {{homePolicyData.deductible || "$0.00"}}</p>
            </ion-item>
            <ion-item *ngIf="homePolicyData.payMyBillDisplayInd">
                <p>{{homePolicyData.amountDueLbl || "Amount Due :"}} {{homePolicyData.amountDue || "$0.00"}}</p>
            </ion-item>
        </ion-list>
        <ion-list class="list-with-header mb-0">
            <ion-list-header text-uppercase>
            </ion-list-header>
            <ion-item (click)="myBillsPage()" detail-push>
                <p>View/Pay Bill</p>
            </ion-item>
            <ion-item no-lines (click)="policyDocumentPage()" detail-push>
                <p>Policy Documents</p>
            </ion-item>
        </ion-list>
    </div>
</ion-content>