<ion-header primary>
    <ion-navbar>
        <button ion-button menuToggle class="button" (click)="myGoBack()">
            <ion-icon name="arrow-back"></ion-icon>
            Settings
        </button>
        <ion-title>
            CHANGE PASSWORD
        </ion-title>
    </ion-navbar>
</ion-header>
<div *ngIf="spinner" class="loader">
    <ion-spinner class="loading"></ion-spinner>
</div>
<ion-content class="form" text-wrap>
    <ion-list no-lines class="list-with-header mb-0">
        <ion-item>
            <p>Below information matches your account information in MHP.Any changes made here will automatically update your
                information there.</p>
        </ion-item>
    </ion-list>
    <form novalidate class="login-form" [formGroup]="changePswForm">
        <ion-list no-lines class="list-with-header mb-0">
            <ion-list-header text-uppercase>
               
            </ion-list-header>
            <ion-item class="form-group">
                <ion-label stacked>* Enter Current Password</ion-label>
                <ion-input formControlName="oldpassword" type="password" placeholder="TYPE HERE" [class.invalid]="!changePswForm.controls.oldpassword.valid && changePswForm.controls.oldpassword.touched" required>
                </ion-input>
            </ion-item>
            <ion-item class="form-group">
                <ion-label stacked>* Enter New Password</ion-label>
                <ion-input formControlName="password" type="password" placeholder="TYPE HERE" [class.invalid]="!changePswForm.controls.password.valid && changePswForm.controls.password.touched" required>
                </ion-input>
            </ion-item>
            <p ion-text *ngIf="!changePswForm.controls.password.valid && changePswForm.controls.password.touched" class="danger" padding-left>Please verify format</p>
            <ion-item class="form-group">
                <ion-label stacked>* Verify New Password</ion-label>
                <ion-input formControlName="confirmpassword" type="password" placeholder="TYPE HERE" [class.invalid]="!changePswForm.controls.confirmpassword.valid && changePswForm.controls.confirmpassword.touched" required>
                </ion-input>
            </ion-item>
            <p ion-text *ngIf="!changePswForm.controls.confirmpassword.valid && changePswForm.controls.confirmpassword.touched && changePswForm.controls.password.value"
                class="danger" padding-left>The passwords you entered did not match</p>
            <p ion-text *ngIf="changeStatus" class="danger" padding-left>{{updateres.statusJson.statusMsg}}</p>
        </ion-list>
        <ion-row responsive-sm class="action-btn">
            <ion-col>
                <button ion-button (click)="changePassword(changePswForm)" class="btn-green" [disabled]="!changePswForm.valid" block>SAVE NEW PASSWORD</button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>