//custom Style for ManagePasswordPage
page-manage-password {
    .item {
        padding: 5px 20px;
    }
    .link-primary {
        background: #fff;
        color: color($colors, primary);
    }
}
